body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

footer {
  background-color: Rgb(0, 61, 129, 1);
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  height: auto;
  text-align: center;
}

.container {
  position: relative;
}

/* Gaya untuk ikon media sosial */
.logo {
  display: flex;
  justify-content: center; /* Mengatur agar ikon berada di tengah secara horizontal */
  align-items: center;
  color: black;
  margin-right: 50%;
  margin-left: 50%;
}

.logo a {
  margin-right: 3px;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  margin-right: 50%;
}

/* Gaya untuk garis pemisah */
hr {
  border-color: white;
  border-width: 3px;
}

/* Gaya untuk informasi kontak */
.contact-info {
  text-align: left;
  color: white;
}

.contact-info a {
  color: white;
  text-decoration: none;
}

.contact-info p {
  margin: 5px 0;
}

/* Gaya untuk hak cipta */
.copyright-info {
  color: white;
  text-align: right;
  margin-bottom: 100px;
}

.some-element {
  margin: 0;
}
